[Unit]
Description=ClearOS Firewall Engine
Conflicts=firewalld.service
Conflicts=iptables.service
Conflicts=ip6tables.service
Before=fail2ban.service
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/firewall/exec-start.sh
ExecStop=/usr/libexec/firewall/exec-stop.sh

[Install]
WantedBy=multi-user.target
